@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  /* base tokens */
  --colors-white: hsl(0deg 0% 100%);
  --colors-stone-100: hsl(30deg 54% 90%);
  --colors-stone-150: hsl(30deg 18% 87%);
  --colors-stone-600: hsl(30deg 10% 34%);
  --colors-stone-900: hsl(24deg 5% 18%);
  --colors-brown-800: hsl(14deg 45% 36%);
  --colors-rose-800: hsl(332deg 51% 32%);
  --colors-rose-50: hsl(330deg 100% 98%);
  --font-young-serif-lrg: 400 40px/1 "Young Serif", serif;
  --font-young-serif-med: 400 28px/1 "Young Serif", serif;
  --font-outfit-med-semibold: 600 20px/1 "Outfit", sans-serif;
  --font-outfit-reg-bold: 700 16px/1.5 "Outfit", sans-serif;
  --font-outfit-reg: 400 16px/1.5 "Outfit", sans-serif;
  --spacing-xl: 120px;
  --spacing-lrg: 40px;
  --spacing-med: 30px;
  --radius-lrg: 20px;
  --radius-med: 10px;

  /* functional tokens */
  --font-base: var(--font-outfit-reg);
  --colors-backdrop: var(--colors-stone-100);
  --colors-base-bg: var(--colors-white);
  --colors-base-fg: var(--colors-stone-600);
  --padding-base: var(--spacing-lrg);
  --radius-base: 0;
  --font-strong: var(--font-outfit-reg-bold);
  --font-heading: var(--font-young-serif-lrg);
  --colors-heading-fg: var(--colors-stone-900);
  --font-section-heading: var(--font-young-serif-med);
  --colors-section-heading-fg: var(--colors-brown-800);
  --gap-section: var(--spacing-med);
  --font-aside-heading: var(--font-outfit-med-semibold);
  --colors-aside-heading-fg: var(--colors-rose-800);
  --colors-aside-bg: var(--colors-rose-50);
  --padding-aside: var(--spacing-med);
  --radius-aside: var(--radius-med);
  --font-list-point: var(--font-outfit-reg-bold);
  --colors-list-point: var(--colors-brown-800);
  --font-table-data: var(--font-outfit-reg-bold);
  --colors-table-data: var(--colors-brown-800);
  --colors-divider: var(--colors-stone-150);
  --spacing-main: 0;
  --max-width-main: 100%;
  --padding-hero: 0;
  --radius-hero: 0;
  --hero-column: full-width;

  @media screen and (width >= 960px) {
    --spacing-main: var(--spacing-xl);
    --max-width-main: calc(960px - (2 * var(--spacing-main)));
    --padding-hero: var(--padding-base);
    --hero-column: content;
    --radius-base: var(--radius-lrg);
    --radius-hero: var(--radius-med);
  }
}

html {
  margin: 0;
  padding: 0;
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--colors-backdrop);
  font: var(--font-base);
  color: var(--colors-base-fg);
}

body {
  margin: var(--spacing-main) auto;
  padding: 0;
  width: 100%;
  max-width: var(--max-width-main);
  background-color: var(--colors-base-bg);
  border-radius: var(--radius-base);
  display: grid;
  grid-template-columns:
    [full-width-start]
    var(--padding-base)
    [content-start]
    auto
    [content-end]
    var(--padding-base)
    [full-width-end];
}

main {
  grid-column: content;
}

img {
  max-width: 100%;
}

h1 {
  color: var(--colors-heading-fg);
  font: var(--font-heading);
}

h2 {
  color: var(--colors-section-heading-fg);
  font: var(--font-section-heading);
}

ul,
ol {
  padding-left: 1.5rem;

  li {
    padding-left: 1rem;
    margin-top: 0.5rem;
  }

  li::marker {
    color: var(--colors-list-point);
  }
}

ul li::marker {
  font-size: 0.75em;
}

ol li::marker {
  font: var(--font-list-point);
}

aside,
section {
  margin-top: 2.5rem;
}

section + section {
  border-top: 1px solid var(--colors-divider);
  padding-top: 0.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  td {
    padding: 0.75rem 1.5rem;
    width: 50%;

    + td {
      font: var(--font-table-data);
      color: var(--colors-table-data);
    }
  }

  + tr {
    td {
      border-top: 1px solid var(--colors-divider);
    }
  }
}

.hero {
  padding: var(--padding-hero) 0 0;
  grid-column: var(--hero-column);

  img {
    border-radius: var(--radius-hero);
  }
}

.preparation {
  background-color: var(--colors-aside-bg);
  border-radius: var(--radius-aside);
  padding: var(--padding-aside);

  h2 {
    margin: 0;
    color: var(--colors-aside-heading-fg);
    font: var(--font-aside-heading);
  }

  ul {
    margin-bottom: 0;
  }
}

.attribution {
  grid-column: content;
  padding: var(--padding-base);
}
