@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  /* base tokens */
  --colors-white: hsl(0deg 0% 100%);
  --colors-stone-100: hsl(30deg 54% 90%);
  --colors-stone-150: hsl(30deg 18% 87%);
  --colors-stone-600: hsl(30deg 10% 34%);
  --colors-stone-900: hsl(24deg 5% 18%);
  --colors-brown-800: hsl(14deg 45% 36%);
  --colors-rose-800: hsl(332deg 51% 32%);
  --colors-rose-50: hsl(330deg 100% 98%);
  --font-young-serif-lrg: 400 40px/1 "Young Serif", serif;
  --font-young-serif-med: 400 28px/1 "Young Serif", serif;
  --font-outfit-med-semibold: 600 20px/1 "Outfit", sans-serif;
  --font-outfit-reg-bold: 700 16px/1.5 "Outfit", sans-serif;
  --font-outfit-reg: 400 16px/1.5 "Outfit", sans-serif;
  --spacing-xl: 120px;
  --spacing-lrg: 40px;
  --spacing-med: 30px;
  --radius-lrg: 20px;
  --radius-med: 10px;

  /* functional tokens */
  --font-base: var(--font-outfit-reg);
  --colors-backdrop: var(--colors-stone-100);
  --colors-base-bg: var(--colors-white);
  --colors-base-fg: var(--colors-stone-600);
  --padding-base: var(--spacing-lrg);
  --radius-base: var(--radius-lrg);
  --radius-illustration: var(--radius-med);
  --font-strong: var(--font-outfit-reg-bold);
  --font-heading: var(--font-young-serif-lrg);
  --colors-heading-fg: var(--colors-stone-900);
  --font-section-heading: var(--font-young-serif-med);
  --colors-section-heading-fg: var(--colors-brown-800);
  --gap-section: var(--spacing-med);
  --font-aside-heading: var(--font-outfit-med-semibold);
  --colors-aside-heading-fg: var(--colors-rose-800);
  --colors-aside-bg: var(--colors-rose-50);
  --padding-aside: var(--spacing-med);
  --radius-aside: var(--radius-med);
  --font-list-point: var(--font-outfit-reg-bold);
  --colors-list-point: var(--colors-brown-800);
  --font-table-data: var(--font-outfit-reg-bold);
  --colors-table-data: var(--colors-brown-800);
  --colors-divider: var(--colors-stone-150);
  --spacing-main: 0;
  --max-width-main: 100%;

  @media screen and (width >= 960px) {
    --spacing-main: var(--spacing-xl);
    --max-width-main: calc(960px - (2 * var(--spacing-main)));
  }
}

html {
  margin: 0;
  padding: 0;
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--colors-backdrop);
  font: var(--font-base);
}

body {
  margin: var(--spacing-main) auto 0;
  padding: 0;
  width: 100%;
  max-width: var(--max-width-main);
  background-color: var(--colors-base-bg);
}

img {
  max-width: 100%;
}
